<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href = "./css/styles.css" rel = "stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <img class="logo" src="/img/logo-mercado-liebre.svg" alt = "logo-mercado-liebre">
            
                <div class="buscador">
                    <input type="search" name="buscador" placeholder="Buscar productos, marcas">
                    <div class="lupa"><i class = "fas fa-search"></i></div>
                </div>
                <p><i  class = "fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

            <nav>

                <ul>
                    <li>
                        <a href = "#"> Ofertas </a>
                    </li>
                    
                    <li>
                        <a href = "#"> Tiendas Oficiales </a>
                    </li>

                    <li>
                        <a href = "#"> Vender </a>
                    </li>

                    <li>
                        <a href = "#"> Ayuda </a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href = "/register"> Crea tu cuenta </a> <i class="fas fa-regular fa-id-card"></i>
                    </li>

                    <li>
                        <a href = "/login"> Ingresa </a> <i class="fas fa-solid fa-sign-in-alt"></i>
                    </li>

                    <li>
                        <a href = "#"> Mis compras </a> <i class="fas fa-solid fa-shopping-basket"></i>
                    </li>
                </ul>

            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
                </div>

        </header>
        <main id="formulario-registro">
            <form class="formularios" action="/" method="GET">

                <div>
                <input class="text-field" type="text" name="nombreCompleto" placeholder="Nombre y Apellido">
                </div>

                <div>
                <input  class="text-field" type="text" name="usuario" placeholder="Nombre de usuario">
                </div>

                <h4>Fecha de nacimiento</h4>
                <div>
                    <input type="date" id="nacimiento" name="nacimiento">
                </div>

                <div>
                    <input class="text-field" type="email" name="email" placeholder="E-mail">
                </div>

                <div>
                    <input type="text" name="domicilio" placeholder="Calle Falsa 123">
                </div>
                
                <h4>Tipo de perfil</h4>
                <div class="selecciones">
                    <div>
                        <input type="radio" name="perfil" value="comprador" id="Comprador">
                        <label for="comprador">Comprador</label>
                    </div>
                    <div>
                        <input type="radio" name="perfil" value="vendedor" id="Vendedor">
                        <label for="vendedor">Vendedor</label>
                    </div>
                </div>

                <h4>Intereses</h4>
                <div class="selecciones interes">
                    <div>
                        <input type="checkbox" name="interés" value="electro" id="electro">
                        <label for="electro">Electro</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interés" value="moda" id="moda">
                        <label for="moda">Moda</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interés" value="hogar" id="hogar">
                        <label for="hogar">Hogar</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interés" value="jugueteria" id="jugueteria">
                        <label for="jugueteria">Jugueteria</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interés" value="vida-sana" id="vidaSana">
                        <label for="vidaSana">Vida Sana</label>
                    </div>
                </div>

                <div>
                    <label for="fotoPerfil">Foto de Perfil</label>
                </div>

                <div>
                    <input type="file" name="fotoPerfil">
                </div>

                <div>
                    <input class="text-field" type="password" name="contrasenia" placeholder="Contraseña">
                </div>

                <div>
                    <input class="text-field" type="password" name="contraseniaConfirmar" placeholder="Confirmar contraseña">
                </div>

                <div class="botones">
                    <button class="botonForm botonSubmit" type="submit">Enviar</button>
                    <button class="botonForm botonReset" type="reset">Cancelar</button>
                </div>
            </form>
        </main>
        <footer>
            <section>
                <article>
                    <i class="fas fa-solid fa-credit-card"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article>
                    <i class="fas fa-solid fa-gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                <article>
                    <i class="fas fa-solid fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </article>
                <article>
                    <p class="derechos">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </article>
            </section>
        </footer>
    </body>
</html>